@media all and (max-width: 700px) {
    
    /* main */
    
    section {
        padding: 5% 15%;
        }
        
    .main_title {text-align: center;
                }
    
    .content {
        width: 100%;
        height: auto;
        display: block;
        }
    
    .content div {padding: 0;}
    
    .p {width: 100%;
        padding: 1px 0;   
        }
    
    
    /* footer */
    
    /* footer {
        padding: 5% 15%;
        background: #d03f65;
    } */
    
    .footer_text {
        width: 70%;
        height: auto;
        margin: 0;
        color: #fff;
        
    }
    
    
}

@media all and (orientation: landscape), all and (max-width: 650px){}

@media print {
    
    body {
        font-family: Times, 'Times new roman', serif;
        }
    
    header {
        display: none;
        }
    
}